html{
    height: 100%;
}

body{
    background: #636363;
    background: -webkit-radial-gradient(center, #636363, #010101);
    background: -moz-radial-gradient(center, #636363, #010101);
    background: radial-gradient(ellipse at center, #636363, #010101);
}

div{ 
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: opacity 0.6s ease-in 0.5s;
}

div:hover{
    opacity: 1;
}

h1{
    font-size: 6cm;
    text-align: center;
    margin-bottom: 0;
}

h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0;
}


#arrow{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    animation-name: anim-3;
    animation-duration: 3s;  
    animation-delay: ;
    animation-fill-mode: forwards;
  }
  
  @keyframes anim-3 {
    from {top: -400px; width: 30px; height: 30px;}
    to {top: 25px; width: 70px; height: 60px;}
  }

#logo-git {
    height: 15px;
    position: relative;
    z-index: 2;
    transition: height 0.7s ease 0.2s;
}


  #logo-git{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    animation-name: anim2;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  
  @keyframes anim2 {
    0% {top: -400px; width: 30px; height: 30px;}
    85% {top: 10px; width: 60px; height: 60px;}
    100% {top: 10px; width: 80px; height: 80px;}
  }

a{
    font-size: 0.75cm;
    display: block;
    text-decoration: none;
    transition: font-size 0.7s ease 0.2s;
}

a:visited{
     color: grey;
 }

 a {
    width: 500px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  
  @keyframes example {
    from {top: -400px; font-size: 0.75cm;}
    to {top: 0px; font-size: 1.5cm;}
  }
